* {
    margin: 0;
    outline: 0;
    color: #98da4b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(25, 24, 31);
    overflow-x: hidden;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 20vh;
    width: 100vw;
    background-color: rgb(25, 24, 31);
    box-shadow: 3px 3px #000;
}

.buttons-container button {
    background-color: rgb(90, 90, 90);
    border: 0;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    margin: 10px;
    box-shadow: 3px 3px #000;
}

.password {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: rgb(47, 45, 65);
    height: 210px;
    min-width: 250px;
    margin: 10px;
    padding: 10px;
}

.password h1 {
    margin-bottom: 40px;
}

.password h2 {
    color: #6a9933;
}

.password h3 {
    color: #6a9933;
}

.password-buttons {
    background-color: rgb(90, 90, 90);
    border: 0;
    border-radius: 100%;
    height: 45px;
    width: 45px;
    margin: 30px 10px 0 10px;
    box-shadow: 2px 2px #000;
}

.insert-container {
    position: fixed;
    display: none;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(39, 37, 51);
    border-radius: 10px;
    padding: 70px 60px 70px;
    box-shadow: 5px 5px #000;
    border: 2px solid #000;
    z-index: 1;
}

.insert-container input {
    height: 2rem;
    width: 15rem;
    margin: 5px;
    padding-left: 10px;
    background-color: rgb(25, 24, 31);
    border: 2px solid #98da4b;
    border-radius: 5px;
    font-size: large;
}

.insert-container h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    user-select: none;
}


.insert-buttons {
    background-color: rgb(25, 24, 31);
    border: 2px solid #98da4b;
    height: 2rem;
    width: 5rem;
    border-radius: 5px;
    margin: 8px;
}


.clipboardAlert {
    background-color: #2c5200;
    padding: 8px;
    border-radius: 50px;
    z-index: 2;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    position: fixed;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.visible {
    opacity: 1;
}

.inputAlert {
    background-color: #2c5200;
    padding: 8px;
    border-radius: 50px;
    z-index: 2;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    position: fixed;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-transform: uppercase;
    user-select: none;
}

#line {
    background-color: gray;
    width: 100vw;
    height: 2px;
}

#passwords-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

::placeholder {
    color: #6a9933;
}

::selection {
    background-color: #376800;
}